## Settings file was created by plugin Better Truck Heals v1.0.0
## Plugin GUID: Lazarus.BetterTruckHeals

[General]

## The amount of health the truck healer restores to the player.
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 0 to 200
HealAmount = 200

